.grid {
  display: flex;
  box-sizing: border-box;
  width: 960px;
  border: 1px solid red;
}

.column {
  width: 100%;
}

.box { 
  padding-bottom: 100%; /* Keeps height same as width; */
  background-color: gray;
}