.grid {
  display: flex;
  box-sizing: border-box;
  width: 960px;
  height: 960px;
  border: 6px solid red;
}

.column {
  min-width: 0;
  flex: 1;
}

.box { 
  padding: 10px;
  border: 1px solid lightgray;
  background-color: gray;
}